.header-sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  
.Feed{
    height: 100%;
  }
  
.BottomNav{
    position: fixed;
    bottom: 0;
    width: 100%
    
  }     

.home{
    min-height: 100%;
}

.home{
    background: url("../image/background.jpg") repeat-y center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}