.postCollectionComponent{
    overflow-x: scroll;
    max-width: 1000px;
}

.postCollectionFlexbox{
    display: flex;
    align-items: flex-start;
}
.postComponent_header_actions{
    padding-right: 20px;
}